<nav class="navbar navbar-expand-lg bg-body-tertiary">
	<div class="container-fluid">
		<a class="navbar-brand" href="/">SNSports</a>
		<button
			class="navbar-toggler"
			type="button"
			data-bs-toggle="collapse"
			data-bs-target="#navbarNavAltMarkup"
			aria-controls="navbarNavAltMarkup"
			aria-expanded="false"
			aria-label="Toggle navigation"
		>
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbarNavAltMarkup">
			<div class="navbar-nav">
				<a
					class="nav-link active"
					aria-current="page"
					href="/realTimeProducts"
				>Productos del día</a>
				<a class="nav-link active" href="/chat">Mensajes</a>
			</div>
		</div>
	</div>
</nav>
<main>
	<h3>Chat usuarios</h3>
	<input type="text" id="message" />
	<div id="messages"></div>

</main>

<script src="/socket.io/socket.io.js"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="/js/chat.js"></script>
{{! <script src="/js/products.js"></script> }}