<h2>SNSports-Productos</h2>
<hr />
<aside>
	<a href="/">Home</a>
</aside>
<main>
	<h3>Productos del día</h3>
	<ul>
		{{#each products}}
			<li>{{title}}</li>
		{{/each}}
	</ul>
</main>

<script src="/js/products.js"></script>