<h2>Registro</h2>

<form action="/api/sessions/registration" method="post">
	<input type="text" name="first_name" placeholder="nombre" />
	<input type="text" name="last_name" placeholder="apellido" />
	<input type="email" name="email" placeholder="correo electrónico" />
	<input type="number" name="age" placeholder="edad" />
	<input type="password" name="password" placeholder="contraseña" />

	<br />

	<input type="submit" value="Registrarse" />

</form>

<script src="/js/auth/registration.js"></script>